.clock {
    font-size: 14px;
    padding: 5px;
}

.client-title{
    color:rgba(255, 255, 255, 0.549);
}

.defaultDarkerLabel {
    color:rgba(255, 255, 255, 0.549);
    font-size: 14px
}

.defaultDarkerLaptopLabel {
    color:rgba(255, 255, 255, 0.549);
    font-size: 19px;
}



.defaultLabel {
    font-size: 14px
}

.defaultLaptopLabel {
    font-size: 19px;
}